<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="DefaultDataContext" connectionString="dO54EElui2/1BP8lL2y5XXV0RDMTgG43ZfIhQCsxBNUPaRBF3a9Z7e1hathBg/FRpyOmRqh3ic3AIXW+bO8JOgVHOtnReZ+4WVkjwRWHkJNDPSWjGrhWdfEnaghCVCiWIpwIh/Mnjhaxu9xTR2KZMg3KFv4fBUz03w5u8BsGhcM=" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
